<h2>Account info for <%= user._json.name %></h2>

<p style="width:500px">
Here are all of the claims available in the express user object.
You can add your own attributes in your Azure AD B2C policies, and they will be available here.
For a description of the OpenID Connect specific claims, go to <a href="https://azure.microsoft.com/documentation/articles/active-directory-b2c-reference-tokens/">our B2C documentation.</a>
</p>

<pre>
<%- JSON.stringify(user._json, null, 2) %>
</pre>

<a href="/edit-profile?p=<%= config.editProfilePolicy %>">Edit your profile data</a>
<br />
<a href="/">Home</a>
