<% if (!user) { %>
	<h2>Welcome! Please log in.</h2>
    <a href="/login/?p=<your signin profile>">Sign In</a>
    <a href="/login/?p=<your signup profile>">Sign Up</a>
<% } else { %>
	<h2>Hello, <%= user.displayName %>.</h2>
	<a href="/account">Account Info</a></br>
	<a href="/logout">Log Out</a>
<% } %>